@ViewBag.aviso

@{
    if(@ViewBag.esAdministrador == true){
        <h3>Desea cerrar la sesion de administrador?</h3><br>
        <a href='@Url.Action("CerrarSesion", "Home", new{respuesta = "si"})'>Si</a>
        <a href='@Url.Action("CerrarSesion", "Home", new{respuesta = "no"})'>No</a>
    }
    else{
        <form method="post" action='@Url.Action("Verificacion", "Home")'>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Usuario</label>
                    <input type="text" name="usuario">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Password</label>
                    <input type="password" name="password">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>
    }
}
